# Virtual environments
.venv/
env/
venv/

# Environments
.env
local.env

# VS code
.vscode

# PyCharm
.idea

# Volumes
data/

# Log files
*log

# Byte-compiled / optimized / DLL files
.pyc/
.djcache/
__pycache__/

# Django
django_cache/

# Unit test / coverage reports
.coverage
.coverage.*
