[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codewars-test-teey = "*"
pycodestyle = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
