{% extends "base.html" %} {% block title %} Добавление статьи {% endblock%} {%
block body %}
<div class="container mt-4">
  <body class="text-center">
    <h1>Добавление статьи</h1>
    <form method="post">
      <input
        type="text"
        name="title"
        id="title"
        class="col-lg-12 col-md-8 mx-auto"
        placeholder="Введите название"
      /><br />
      <textarea
        name="intro"
        id="intro"
        class="col-lg-12 col-md-8 mx-auto"
        placeholder="Введите анонс"
      ></textarea
      ><br />
      <textarea
        name="text"
        id="text"
        class="col-lg-12 col-md-8 mx-auto"
        placeholder="Введите основной текст"
      ></textarea
      ><br />
      <input type="submit" class="btn btn-success" value="Отправить" />
    </form>
  </body>
</div>
{% endblock %}
