{% extends "base.html" %} {% block title %} Главная страница {% endblock%} {%
block body %}
<div class="container">
  <body class="text-center">
    <main class="container form-signin w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal">Шевченко, Тарас Григорьевич</h1>

        <div class="h3 mb-3 fw-normal">
          <table
            class="infobox infobox-dc5e7a8dda7f72db"
            style=""
            data-name="Писатель"
          >
            <tbody>
              <tr>
                <th
                  colspan="2"
                  scope="colgroup"
                  class="infobox-above"
                  style=""
                ></th>
              </tr>
              <tr>
                <td colspan="2" class="" style="text-align: center">
                  <span data-wikidata-property-id="P1559" class="no-wikidata"
                    ><a
                      href="https://ru.wikisource.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
                      title="Украинский язык"
                      >укр.</a
                    >
                    <span lang="uk" style="font-style: italic"
                      >Тарас Григорович Шевченко</span
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2" class="infobox-image" style="">
                  <span data-wikidata-property-id="P18" class="no-wikidata"
                    ><a
                      href="https://commons.wikimedia.org/wiki/File:%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg?uselang=ru"
                      class="image"
                      title="Фотопортрет[К 1] (1859)"
                      ><img
                        alt="Фотопортрет[К 1] (1859)"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg/270px-%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg"
                        decoding="async"
                        width="270"
                        height="367"
                        srcset="
                          https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg/405px-%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg 1.5x,
                          https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg/540px-%D0%A2._%D0%93._%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE._%D0%9A%D0%B2%D1%96%D1%82%D0%B5%D0%BD%D1%8C_1859.jpg 2x
                        "
                        data-file-width="819"
                        data-file-height="1114" /></a
                    ><br /><span
                      data-wikidata-qualifier-id="P2096"
                      class="media-caption"
                      style="display: block"
                      >Фотопортрет<sup id="cite_ref-1" class="reference"
                        ><a href="#cite_note-1">[К 1]</a></sup
                      >
                      (1859)</span
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Имя при рождении
                </th>
                <td class="plainlist">
                  <span
                    data-wikidata-claim-id="Q134958$75b335cf-4859-1848-6469-2c04e98d2443"
                    class="wikidata-claim"
                    data-wikidata-property-id="P1477"
                    ><span class="wikidata-snak wikidata-main-snak"
                      >Тарас Григорьев сын Шевченко</span
                    ><sup id="cite_ref-_1bc6bc6936211c0b_3-0" class="reference"
                      ><a href="#cite_note-_1bc6bc6936211c0b-3">[2]</a></sup
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Псевдонимы
                </th>
                <td class="plainlist">
                  <span
                    data-wikidata-claim-id="Q134958$efe7a424-49ac-4e7b-4b12-f9b4af016ebc"
                    class="wikidata-claim"
                    data-wikidata-property-id="P742"
                    ><span class="wikidata-snak wikidata-main-snak">Т. Ш.</span
                    ><sup id="cite_ref-_1e71aafe8de75023_4-0" class="reference"
                      ><a href="#cite_note-_1e71aafe8de75023-4">[3]</a></sup
                    ></span
                  >,
                  <span
                    data-wikidata-claim-id="Q134958$4ee69ec6-46ba-683d-857b-dd1a3b838be7"
                    class="wikidata-claim"
                    data-wikidata-property-id="P742"
                    ><span class="wikidata-snak wikidata-main-snak"
                      >К. Дармограй</span
                    ><sup id="cite_ref-_1e71aafe8de75023_4-1" class="reference"
                      ><a href="#cite_note-_1e71aafe8de75023-4">[3]</a></sup
                    ></span
                  >
                  и
                  <span
                    data-wikidata-claim-id="Q134958$5062535c-45c6-2cd8-1f89-68671c22c0da"
                    class="wikidata-claim"
                    data-wikidata-property-id="P742"
                    ><span class="wikidata-snak wikidata-main-snak"
                      >Кобзарь Дармограй</span
                    ><sup id="cite_ref-_1e71aafe8de75023_4-2" class="reference"
                      ><a href="#cite_note-_1e71aafe8de75023-4">[3]</a></sup
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Дата рождения
                </th>
                <td class="plainlist">
                  <span
                    data-wikidata-claim-id="q134958$1b749767-4322-9425-8b51-493c3b0d7da2"
                    class="wikidata-claim"
                    data-wikidata-property-id="P569"
                    ><span class="wikidata-snak wikidata-main-snak"
                      ><span class="nowrap"
                        ><abbr title="по юлианскому календарю">25 февраля</abbr>
                        (<a
                          href="https://ru.wikisource.org/wiki/9_%D0%BC%D0%B0%D1%80%D1%82%D0%B0"
                          title="9 марта"
                          >9 марта</a
                        >)
                        <a
                          href="https://ru.wikisource.org/wiki/1814_%D0%B3%D0%BE%D0%B4"
                          title="1814 год"
                          >1814</a
                        ></span
                      ></span
                    ><sup id="cite_ref-_219f99798a407d05_2-0" class="reference"
                      ><a href="#cite_note-_219f99798a407d05-2">[1]</a></sup
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Место рождения
                </th>
                <td class="plainlist">
                  <ul>
                    <li>
                      <span
                        data-wikidata-claim-id="q134958$26E1BF95-0D35-498F-8CEC-7BA59FD9AACB"
                        class="wikidata-claim"
                        data-wikidata-property-id="P19"
                        ><span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%9C%D0%BE%D1%80%D0%B8%D0%BD%D1%86%D1%8B"
                            title="Моринцы"
                            >Моринцы</a
                          ></span
                        >,
                        <span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%97%D0%B2%D0%B5%D0%BD%D0%B8%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B8%D0%B9_%D1%83%D0%B5%D0%B7%D0%B4_(%D0%9A%D0%B8%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%D0%B3%D1%83%D0%B1%D0%B5%D1%80%D0%BD%D0%B8%D1%8F)"
                            title="Звенигородский уезд (Киевская губерния)"
                            >Звенигородский уезд</a
                          ></span
                        >,
                        <span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%9A%D0%B8%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%D0%B3%D1%83%D0%B1%D0%B5%D1%80%D0%BD%D0%B8%D1%8F"
                            title="Киевская губерния"
                            >Киевская губерния</a
                          ></span
                        >,
                        <span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%B8%D0%BC%D0%BF%D0%B5%D1%80%D0%B8%D1%8F"
                            title="Российская империя"
                            >Российская империя</a
                          ></span
                        ><sup
                          id="cite_ref-_86d33b7041abace6_5-0"
                          class="reference"
                          ><a href="#cite_note-_86d33b7041abace6-5">[4]</a></sup
                        ><sup
                          id="cite_ref-_67a9277fe6a3241b_6-0"
                          class="reference"
                          ><a href="#cite_note-_67a9277fe6a3241b-6">[5]</a></sup
                        ><sup
                          id="cite_ref-_9e2bf9b1b78252c9_7-0"
                          class="reference"
                          ><a href="#cite_note-_9e2bf9b1b78252c9-7">[6]</a></sup
                        ></span
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Дата смерти
                </th>
                <td class="plainlist">
                  <span
                    data-wikidata-claim-id="Q134958$728618de-48e3-b0b8-0aa4-b068179df369"
                    class="wikidata-claim"
                    data-wikidata-property-id="P570"
                    ><span class="wikidata-snak wikidata-main-snak"
                      ><span class="nowrap"
                        ><abbr title="по юлианскому календарю">26 февраля</abbr>
                        (<a
                          href="https://ru.wikisource.org/wiki/10_%D0%BC%D0%B0%D1%80%D1%82%D0%B0"
                          title="10 марта"
                          >10 марта</a
                        >)
                        <a
                          href="https://ru.wikisource.org/wiki/1861_%D0%B3%D0%BE%D0%B4"
                          title="1861 год"
                          >1861</a
                        ></span
                      ></span
                    ><sup id="cite_ref-_219f99798a407d05_2-1" class="reference"
                      ><a href="#cite_note-_219f99798a407d05-2">[1]</a></sup
                    >
                    <span style="white-space: nowrap">(47 лет)</span></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Место смерти
                </th>
                <td class="plainlist">
                  <ul>
                    <li>
                      <span
                        data-wikidata-claim-id="Q134958$3BC280E1-F843-4EBA-BA1C-53BA6F19E941"
                        class="wikidata-claim"
                        data-wikidata-property-id="P20"
                        ><span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3"
                            title="Санкт-Петербург"
                            >Санкт-Петербург</a
                          ></span
                        >,
                        <span class="wikidata-snak wikidata-main-snak"
                          ><a
                            href="https://ru.wikisource.org/wiki/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%B8%D0%BC%D0%BF%D0%B5%D1%80%D0%B8%D1%8F"
                            title="Российская империя"
                            >Российская империя</a
                          ></span
                        ><sup
                          id="cite_ref-_86d33b7041abace6_5-1"
                          class="reference"
                          ><a href="#cite_note-_86d33b7041abace6-5">[4]</a></sup
                        ><sup
                          id="cite_ref-_2057c2132e29ed8a_8-0"
                          class="reference"
                          ><a href="#cite_note-_2057c2132e29ed8a-8">[7]</a></sup
                        ></span
                      >
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Гражданство
                </th>
                <td class="plainlist">
                  <span data-wikidata-property-id="P27" class="no-wikidata"
                    ><span class="nowrap" data-sort-value="Российская империя"
                      ><span class="flagicon"
                        ><img
                          alt=""
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/22px-Flag_of_Russia.svg.png"
                          decoding="async"
                          width="22"
                          height="15"
                          class="thumbborder"
                          srcset="
                            https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/33px-Flag_of_Russia.svg.png 1.5x,
                            //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/44px-Flag_of_Russia.svg.png       2x
                          "
                          data-file-width="900"
                          data-file-height="600" /></span
                      >&nbsp;<a
                        href="https://ru.wikisource.org/wiki/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%B8%D0%BC%D0%BF%D0%B5%D1%80%D0%B8%D1%8F"
                        title="Российская империя"
                        ><span class="wrap">Российская империя</span></a
                      ></span
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Род деятельности
                </th>
                <td class="plainlist">
                  <span data-wikidata-property-id="P106" class="no-wikidata"
                    ><a
                      href="https://ru.wikisource.org/wiki/%D0%9F%D0%BE%D1%8D%D1%82"
                      title="Поэт"
                      >поэт</a
                    >,
                    <a
                      href="https://ru.wikisource.org/wiki/%D0%A5%D1%83%D0%B4%D0%BE%D0%B6%D0%BD%D0%B8%D0%BA"
                      title="Художник"
                      >художник</a
                    >,
                    <a
                      href="https://ru.wikisource.org/wiki/%D0%9F%D1%80%D0%BE%D0%B7%D0%B0%D0%B8%D0%BA"
                      class="mw-redirect"
                      title="Прозаик"
                      >прозаик</a
                    >,
                    <a
                      href="https://ru.wikisource.org/wiki/%D0%A4%D0%B8%D0%BB%D0%BE%D1%81%D0%BE%D1%84"
                      title="Философ"
                      >мыслитель</a
                    >,
                    <a
                      href="https://ru.wikisource.org/wiki/%D0%AD%D1%82%D0%BD%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F"
                      title="Этнография"
                      >этнограф</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Годы творчества
                </th>
                <td class="plainlist">
                  <span data-wikidata-property-id="P2031" class="no-wikidata"
                    >1832—1861</span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Язык произведений
                </th>
                <td class="plainlist">
                  <span data-wikidata-property-id="P6886" class="no-wikidata"
                    ><a
                      href="https://ru.wikisource.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
                      title="Украинский язык"
                      >украинский</a
                    >,
                    <a
                      href="https://ru.wikisource.org/wiki/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
                      title="Русский язык"
                      >русский</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="plainlist" style="min-width: 9em">
                  Автограф
                </th>
                <td class="plainlist">
                  <span
                    data-wikidata-claim-id="Q134958$CA25BE3F-462D-448A-B690-5DB912107583"
                    class="wikidata-claim"
                    data-wikidata-property-id="P109"
                    ><span class="wikidata-snak wikidata-main-snak"
                      ><a
                        href="https://commons.wikimedia.org/wiki/File:Taras_Shevchenko%E2%80%99s_signature.gif?uselang=ru"
                        class="image"
                        ><img
                          alt="Изображение автографа"
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Taras_Shevchenko%E2%80%99s_signature.gif/150px-Taras_Shevchenko%E2%80%99s_signature.gif"
                          decoding="async"
                          width="150"
                          height="69"
                          srcset="
                            https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Taras_Shevchenko%E2%80%99s_signature.gif/225px-Taras_Shevchenko%E2%80%99s_signature.gif 1.5x,
                            //upload.wikimedia.org/wikipedia/commons/b/b5/Taras_Shevchenko%E2%80%99s_signature.gif                                                            2x
                          "
                          data-file-width="250"
                          data-file-height="115" /></a></span
                  ></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="plainlist" style="text-align: center">
                  <span style="font-weight: normal"
                    ><a
                      rel="nofollow"
                      class="external text"
                      href="http://www.lib.ru/SU/UKRAINA/SHEVCHENKO/"
                      >Произведения на сайте Lib.ru</a
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2" class="infobox-below" style=" ;">
                  <a
                    href="https://ru.wikisource.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D1%81_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE"
                    title="Логотип Викитеки"
                    ><img
                      alt="Логотип Викитеки"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/15px-Wikisource-logo.svg.png"
                      decoding="async"
                      width="15"
                      height="16"
                      srcset="
                        https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/23px-Wikisource-logo.svg.png 1.5x,
                        https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/30px-Wikisource-logo.svg.png 2x
                      "
                      data-file-width="410"
                      data-file-height="430"
                  /></a>
                  <a
                    href="https://ru.wikisource.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D1%81_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE"
                    class="extiw"
                    title="s:Тарас Григорьевич Шевченко"
                    >Произведения в Викитеке</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2" class="infobox-below" style=" ;">
                  <span
                    data-wikidata-claim-id="q134958$B90011A6-E77A-412E-A6EF-8F280E197F60"
                    class="wikidata-claim"
                    data-wikidata-property-id="P373"
                    ><span class="wikidata-snak wikidata-main-snak"
                      ><a
                        href="https://commons.wikimedia.org/wiki/Category:Taras_Shevchenko"
                        title="commons:Category:Taras Shevchenko"
                        ><img
                          alt="Логотип Викисклада"
                          src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/15px-Commons-logo.svg.png"
                          decoding="async"
                          width="15"
                          height="20"
                          srcset="
                            https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/23px-Commons-logo.svg.png 1.5x,
                            https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/30px-Commons-logo.svg.png 2x
                          "
                          data-file-width="1024"
                          data-file-height="1376" /></a
                      >&nbsp;<a
                        href="https://commons.wikimedia.org/wiki/Category:Taras_Shevchenko"
                        class="extiw"
                        title="commons:Category:Taras Shevchenko"
                        >Медиафайлы на Викискладе</a
                      ></span
                    ></span
                  >
                </td>
              </tr>
              <tr>
                <td colspan="2" class="infobox-below" style=" ;">
                  <a
                    href="https://ru.wikiquote.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D1%81_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE"
                    title="Логотип Викицитатника"
                    ><img
                      alt="Логотип Викицитатника"
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/15px-Wikiquote-logo.svg.png"
                      decoding="async"
                      width="15"
                      height="18"
                      srcset="
                        https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/23px-Wikiquote-logo.svg.png 1.5x,
                        https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/30px-Wikiquote-logo.svg.png 2x
                      "
                      data-file-width="300"
                      data-file-height="355"
                  /></a>
                  <a
                    href="https://ru.wikiquote.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D1%81_%D0%93%D1%80%D0%B8%D0%B3%D0%BE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87_%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE"
                    class="extiw"
                    title="q:Тарас Григорьевич Шевченко"
                    >Цитаты в Викицитатнике</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
      </form>
    </main>
  </body>
</div>
{% endblock %}
