{% extends "base.html" %}

{% block title %}
Вторая страница
{% endblock%}

{% block body %}
<div class="container">
<h1>Привет человек</h1>
<div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Изменить фон</h2>
          <p>Поменяйте местами утилиту background-color и добавьте утилиту цвета `.text-*`, чтобы смешать внешний вид сайта. Затем смешивайте и сочетайте с дополнительными темами компонентов и т. д.</p>
          <button class="btn btn-outline-light" type="button">Пример кнопки</button>
        </div>
</div>
{% endblock%}
